.work-flex{
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
}
.work-info-left{
    flex: 0.15;
}
.work-info-right{
    flex: 0.85;
}
.info-box{
    width: 86%;
    margin-top: 1em;
    border: 2px solid gray;
    border-radius: 0.5em;
}
.info-item{
    height: 50%;
    padding: 1em;
}
.firs{
    border-bottom: 1px solid black ;
    border-radius: 0.5em 0.5em 0 0;
}
.content-info-item{
    width: 45%;
    margin-right: 3%;
    margin-bottom: 3%;
    height: 13em;
    border: 2px solid #7f7f7f;
}
.content-info-item div{
    padding-left:3% ;
    border-bottom: 2px solid #7f7f7f;
    font-size: 1.2em;
    height: 24.3%;
    line-height: 2.4em;
}
.content-item-head{
    background-color: #F8F9F4;
}
.check{
    background-color: #F8F9F4;
}
.old{
    border-radius: 0 0 0.5em 0.5em ;
}
.content-item-detail{
    color: #00AAFF;
}
.info-box :hover{
    cursor: pointer;
}
.re-box{
    width: 100%;
}