.new-recruitment-head{
    text-align: center;
    font-size: 2em;

}
.re-name{
    color: #00AAFF;
}
.mg-bt{
    margin-bottom: 1em;
}
.new-recruitment-content select{
    margin: 1.2em 0;
    width: 100%;
    height: 3em;
}
.new-recruitment-box{
    flex: 0.25;
}
.new-recruitment-box input{
    width: 90%;
    padding-right: 5%;
}
.re-head{
    color: gray;
    font-weight: bold;
}
.re-name-head input{
    width: 99.5%;
}

.new-recruitment-boxs .flex{
    height: 10%;
}
.new-recruitment-boxs button{
    width: 100%;
    height: 3em;
    border: none;
    background-color: #00AAFF;
    color: white;
}
.mg-b2{
    margin-bottom: 2em;
}
.new-recruitment-content small{
    color: gray;
}
.new-re-wrap{
    height: 163%;
}
.new-re-wrap button:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid #00AAFF;
    color: #00AAFF;
}
