.navbar{
    background-color: #212121;
    color: white;
    height: 4.5em;
}
.flex{
    display: flex;
}
.main{
    line-height: 3em;
    font-size: 1.7em;
    font-weight: bold;
    flex: 0.8;
}
.item{
    flex: 0.2;
    line-height: 3.8em;
    font-size: 1.3em;
}
.head-wrap {
    height: 100%;
}
.main a{
    display: block;
    width: 2%;
    height: 100%;
    padding: 0 2em;
    color: white;
    text-decoration: none;
}
.icons{
    width: 1em;
    height: 1em;
}
.nav-item{
    height: 100%;
}
.nav-items{
    flex: 0.5;
    text-align: center;
}
.nav-items a{
    color: #808080;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
footer{
    height: 5em;
    background-color: #f8f9fa;
}
.footer_wrap{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.foot_text{
    font-size: 1.1em;
    line-height: 4em;
    font-weight: bold;
}
.bell{
    width: 1.2em;
    height: 100%;
}
.nav-item :hover{
    cursor: pointer;
}
.drop-box{
    background-color: white;
    color: black;
    height: 100%;
    border: 0.5px solid gray;
}
.name{
    color: gray;
}
.drop-box li{
    font-weight: bold;
    line-height: 2.5em;
    font-size: 0.7em;
    height: 50%;

}
.border-bottom{
    border-bottom: 1px solid gray;
}
.drop-box li:hover{
    cursor: pointer;
}
.drop-wrap{
    margin-top: -0.5em;
    height: 8em;
    width: 7.5em;
    display: none;
}
.head_info{
    height: 50%;
}
.setting{
    height: 50%;
}
a{
    text-decoration: none;
    color: black;
}
.drop-box span{
    padding-left: 2em;
}
.work-wrap{
    width: 90%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.work{
    position: absolute;
    left: 0;
    top: 0%;
    width: 20%;
    color: gray;
}
.work-wrap span{
    position: absolute;
    width: 80%;
    height: 100%;
    top: -5%;
    right: 0;
    font-size: 61%;
    color: gray;
}
.border{
    border: 1px solid gray;

}
.border :hover{
    background-color: #00AAFF;
    color: white;
}