.navbar{
    background-color: #212121;
    color: white;
    height: 5.5em;
}
.flex{
    display: flex;
}
.main{
    line-height: 3em;
    font-size: 1.7em;
    font-weight: bold;
    flex: 0.9;
}
.item{
    flex: 0.1;
    line-height: 3.8em;
    font-size: 1.3em;
}
.head-wrap {
    height: 100%;
}
.main a{
    display: block;
    width: 2%;
    height: 100%;
    padding: 0 2em;
    color: white;
    text-decoration: none;
}
.nav-item{
    height: 100%;
}
.nav-items{
    flex: 0.5;
    text-align: center;
}
.nav-items a{
    color: #808080;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
footer{
    height: 5em;
    background-color: #f8f9fa;
}
.footer_wrap{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.foot_text{
    font-size: 1.1em;
    line-height: 4em;
    font-weight: bold;
}
.bell{
    width: 1.2em;
    height: 100%;
}
.nav-item :hover{
    cursor: pointer;
}
.drop-box{
    background-color: #f8f9fa;
    color: gray;
    text-align: center;
    height: 100%;
    border: 1px solid gray;
    border-radius: 0.5em;
}
.drop-box li{
    height: 33%;
    font-weight: bold;
    line-height: 2.5em;
    font-size: 0.7em;

}
.border-bottom{
    border-bottom: 1px solid gray;
}
.drop-box li:hover{
    cursor: pointer;
}
.drop-wrap{
    margin-top: -0.5em;
    height: 5em;
}