.password-head {
    height: 100%;
    flex: 0.6;
    margin-top: 3em;
    padding-left: 3em;
}
.password-head-text{
    height: 7%;
    font-size: 2em;
    font-weight: bold;
}
.password-content{
    height: 42%;
}
.new-password-check{
    height: 50%;
}
.new-password-box{
    height: 50%;

}
.password-box{
    border: 1px solid gray;
}
.password-form{
    height: 100%;
}
.content-head{
    font-weight: bold;
}
.password-btn{
    width: 30%;
    height: 3em;
    border: 1px solid #00AAFF;
    background-color: white;
    color: #00AAFF;
}
.password-btn:hover {
    border:1px solid white;
    background-color: #00AAFF;
    color: white;
    cursor: pointer;
}