.work-head{
    color: #00AAFF;
    font-size: 3em;
}
.work-head-small{
    font-size: 1.5em;
    color: gray;
    line-height: 2em;
}
.work-info{
    display: flex;
    margin-top: 2em;
    border-bottom: 1px solid gray;
}
.work-info-nav{
    flex: 0.06;
    text-align: center;
    font-weight: bold;
    line-height: 259%;
    color: #00AAFF;
}
html, body{
    height: 100%;
}
.work-click{
    border: 1px solid gray;
    border-bottom: none;
    color: black;
}
.work-head{
    flex: 0.8;
}
.togle{
    flex: 0.05;
    text-align: center;
    line-height: 3em;
    background-color: #00AAFF;
    color: white;
    border-radius: 0.5em;
    margin-left: 1.5em;
}
.work-contents{
    margin-top: 2em;
}
.work-info a{
   flex: 0.06;

}
.join-work-btn{
    flex: 0.1;
    background-color: #00AAFF;
    color: white;
    border: none;
    border-radius: 0.5em 0em 0 0.5em;
    font-size: 1.1em;
}
.join-work-btn:hover{
    cursor: pointer;
    background-color: white;
    color:#00AAFF;
    border: 1px solid #00AAFF;
    border-right: none;
}
.join-count{
    flex: 0.03;
    text-align: center;
    font-size: 2em;
    line-height: 1.33em;
    border: 1px solid #00AAFF;
}