<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html::head"></head>
<body>
<div th:replace="fragment.html::main-nav"></div>
<div class="container">
  <div class="py-5 text-center">
    <h2> 회원가입</h2>
  </div>
  <div class="row justify-content-center">
    <form class="needs-validation col-sm-6" th:action="@{/join-up}"th:object="${joinUpForm}"  method="post" novalidate>
      <div class="form-group py-1">
        <label for="name">이름</label>
        <input type="text" class="form-control" id="name"th:field="*{name}"
               aria-describedby="nameHelp" placeholder="이름을 입력하세요" required minlength="2" maxlength="20">
        <small id="nameHelp" class="form-text text-muted">가입할 회원의 이름을 입력하세요</small>
        <small class="invalid-feedback">닉네임을 입력하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nickname Error</small>
      </div>

      <div class="form-group py-1">
        <label for="nickname">닉네임</label>
        <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
               placeholder="whiteship" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
        <small id="nicknameHelp" class="form-text text-muted">
          공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
        </small>
        <small class="invalid-feedback">닉네임을 입력하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
      </div>

      <div class="form-group py-1">
        <label for="email">이메일</label>
        <input id="email" type="email" th:field="*{email}" class="form-control"
               placeholder="your@email.com" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">
          ExpertPeople 는 사용자의 이메일을 공개하지 않습니다.
        </small>
        <small class="invalid-feedback">이메일을 입력하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
      </div>

      <div class="form-group py-1">
        <label for="password">패스워드</label>
        <input id="password" type="password" th:field="*{password}" class="form-control"
               aria-describedby="passwordHelp" required minlength="8" maxlength="50">
        <small id="passwordHelp" class="form-text text-muted">
          8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.
        </small>
        <small class="invalid-feedback">패스워드를 입력하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
      </div>

      <div class="form-group py-1">
        <label for="password-check">패스워드 확인</label>
        <input id="password-check" type="password" class="form-control"
               aria-describedby="password-checkHelp" required minlength="8" maxlength="50">
        <small id="password-checkHelp" class="form-text text-muted">

        </small>
        <small class="invalid-feedback">패스워드 확인을 입력하세요.</small>
      </div>
      <div class="form-group py-1">
        <button style="width: 100%" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="application/javascript">
  (function () {
    console.log("타?");
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          console.log(form.checkValidity());
          if (form.checkValidity() === false) { //유효하지 않으면 submit이 안되도록!
            event.preventDefault();
            event.stopPropagation();
          }
          const password=document.querySelector("#password").value;
          const passwordCheck=document.querySelector("#password-check").value;
          if(password!=passwordCheck){
            event.preventDefault();
            event.stopPropagation();
            alert("비밀번호가 같지 않습니다");
          }

          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>
</body>
</html>