.container{
    width: 80%;
    height: 100%;
    margin:0 auto;
}
.text-centers{
    margin-top:1em;
    text-align: center;
}
.lead{
    font-size: 2em;
    margin-bottom: 1em;
}
.text-centers h2{
    color: darkblue;
    font-size: 1.7em;
}
.justify-content-center{
    width: 70%;
    margin:0 auto;
    margin-top: 4em;
}
input{
    width: 100%;
    height: 3em;
    margin:  0;
}
.invlid-feedback{
    display: none;
}
.form-group div{
    padding: 1em 0;
    font-weight: bold;
}
.btn-block{
    width: 100%;
    height: 3em;
    background-color: darkblue;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.alert-danger{
    background-color: #FAEBC3;
    font-size: 1.1em;
}
.alert-danger p{
    padding: 1em;
}
.true .alert-danger{
    background-color:#90FE6C;
}