.job-open-btn{
    width: 20%;
    height: 3em;
    border: 1px solid #00AAFF;
    background-color: white;
    color: #00AAFF;
}
.job-open-btn:hover{
    border: 1px solid white;
    background-color: #00AAFF;
    color: white;
    cursor: pointer;
}
.open-comment{
    margin-bottom: 1em;
}
.work-info-box{
    padding-bottom: 3em;
    border-bottom: 1px solid gray;
}
.mg-top{
    margin-top:2em;
}
.ale .topic-content{
    background-color: #FAEBC3;
    color: #964B00;
}
.yell{
    color: #964B00 ;
    border: 1px solid #FAEBC3;
}
.yell:hover{
    background-color: #FAEBC3;

}
.work-info-box .topic-m{
    background-color: #FAEBC3;
    color: #964B00;
    margin-bottom: 1em;
}
.work-setting-wrap .my-item {
    /* height: 20%; */
    /*height: 17%;*/
    height: 12.5%;
}
.work-setting-wrap {
    height: 242%;
}
.al{
    background-color: #FAEBC3;
    color: #964B00;
}
.re{
    background-color:#F4525F ;
}
.red-btn{
    width: 20%;
    height: 3em;
    border: 1px solid #F4525F;
    background-color: white;
    color: black;
}

.event{
    margin-top: 1em;
    border: 1px solid white;
    background-color:#F4525F;
    color: white;
    cursor: pointer;
}